/* Sidebar */
.sidebar {
 
  height: 100%;
 
  z-index: 500; 


  
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding-top: 30px;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar li {
  padding: 8px;
  text-align: center;
}

.sidebar a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: #e4e4e4;
}

.sidebar svg {
  margin-right: 10px;
}

.sidebar.collapsed a {
  justify-content: center;
}

.sidebar.collapsed a span {
  display: none;
}

.collapse-btn {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: end;
}

/* Dashboard */
.main-layout {
  display: flex;
}

.main-content {
  min-height: 100vh;
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px; /* Adjust this if the sidebar width changes */
  transition: margin-left 0.3s;
}

.sidebar.collapsed + .main-content {
  margin-left: 80px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 80px;
  }
  .main-content {
    margin-left: 80px;
  }
}
