.Prodect-container{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 180px;
}
@media (max-width: 576px){
    .Prodect-container{
   
       
        margin-left: 90px;
    }
}